{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dialog with {{ other.username }}</title>
    <link rel="stylesheet" href="{% static 'main/css/dialog.css' %}">
</head>
<body>
    <div class="container">
        <div class="navigation-buttons">
            <a href="{% url 'home' %}"><button type="button">Home</button></a>
            <a href="{% url 'dialogs' %}"><button name="All_dialogs"  type="button">All Dialogs</button></a>
        </div>

        <h2>Dialog with {{ other.username }}</h2>

        <p class="username">User: {{ user.username }}</p>

        <div name="mesages">
            {% for m in messages %}
                <p>
                    <strong>{{ m.sender.username }}:</strong>
                    <p name="message">{{ m.content }}</p>
                    <small>{{ m.timestamp }}</small>
                </p>
            {% empty %}
                <p>No messages yet.</p>
            {% endfor %}
        </div>

        <form action="{% url 'send_message' other.id %}" method="POST">
            {% csrf_token %}
            <textarea name="content" rows="3"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>