:root {
    --bg-color: #121212;
    --card-color: #1e1e1e;
    --text-color: #e6e6e6;
    --accent: #1da1f2;
    --border-color: #2a2a2a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 30px auto;
    background: var(--card-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h1 {
    text-align: center;
    color: var(--accent);
}

.user-info {
    text-align: right;
    margin-bottom: 20px;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.post-form textarea {
    width: 96%;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    background-color: #181818;
    color: var(--text-color);
    padding: 10px;
    resize: none;
}

button {
    margin-top: 10px;
    background: var(--accent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
}

button:hover {
    background: #1480c3;
}

.posts {
    margin-top: 30px;
}

.post {
    background: #181818;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
}

.delete-btn {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-btn:hover {
    background-color: #c9302c;
}

.edit-btn {
    background: #3498db;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.edit-area {
    width: 100%;
    min-height: 60px;
}

.edited-label {
    font-size: 12px;
    color: #1da1f2;
    margin-left: 500px;
}

.post-actions {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}

.delete-form {
    margin: 0;
}

.btnn-logout {
    margin-top: 0px;

}

.user-info a {
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: none;
}


