:root {
    --bg-color: #121212;
    --card-color: #1e1e1e;
    --text-color: #e6e6e6;
    --accent: #1da1f2;
    --border-color: #2a2a2a;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 600px;
    margin: 30px auto;
    background: var(--card-color);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    color: var(--accent);
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #181818;
    border: 1px solid var(--border-color);
    margin: 30px auto;
    border-radius: 12px;
    padding: 20px;
    width: 800px;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


p {
    text-align: center;
    color: #999;
    margin-top: 20px;
}

button {
    margin-top: 10px;
    background: var(--accent);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.2s;
    margin-left: 350px;
}
