{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'main/css/following.css' %}">
    <title>Following</title>
</head>
<body>
<h2>People you follow</h2>

<ul>
    <a href="{% url 'home' %}"><button type="button">Home</button></a>
    {% for f in following %}
        <li>
            {{ f.following.username }}
             – <a href="{% url 'dialog' f.following.id %}">Message</a>
        </li>
    {% empty %}
        <p>You follow no one.</p>
    {% endfor %}
</ul>

</body>
</html>